@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
    --primary-text-color: black;
    --secondary-text-color: rgba(156, 163, 175, var(--tw-text-opacity));
    --primary-bg-color: #fff;
}
.dark {
    --primary-text-color: #fff;
    --secondary-text-color: #fff;
    --primary-bg-color: #000;
}