.react-select-container {
.react-select__control {
    background-color: var(--primary-bg-color);
    border-color: var(--border-color);
    transition: none;

&:hover {
     border-color: var(--border-color);
 }
}

.react-select__menu {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--border-color);
}

.react-select__option {
    background-color: var(--primary-bg-color);

&:hover {
     background-color: var(--bg-primary);
 }
}

.react-select__indicator-separator {
    background-color: var(--border-color);
}

.react-select__placeholder,
.react-select__single-value {
    color: var(--text-primary);
}
}
